.card {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all .2s;
    opacity: .8;
}

.star,
.favorited-star {
  height: 30px;
  width: 30px;
}

.star-button {
  background: none;
  border: none;
}